.choiceBtn{
    height: 30px;
    width: 150px;

}

#gameDiv{
    font-family: 'Brush Script MT', cursive;
    border: 3px solid;
    border-radius: 25px;
    padding: 10px;
    background-color: rgba(144, 235, 238, 0.247);
    text-align: center;
}
#playerText{
    color: brown;
}
#computerText{
    color: rgb(4, 0, 255);
}
